@import '../../sass/general.scss';
.hero-section{
    margin-top: 30px;

    .carousel{
        @include center (flex , flex-start , space-between );

        &__item{
            max-width: 970px;
            width: 100%;
            height: 385px;
            border-radius: 20px;

            #img{
                border-radius: 20px;
                height: 385px;
            }
        }

        &__rek{
            max-width: 350px;
            width: 100%;
            height: 300px;
            border-radius: 20px;

            #img{
                width: 100%;
                height: 300px;
                border-radius: 20px;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}